.app {
  text-align: center;
  margin: 20px;
}

.todo-list {
  display: flex;
  justify-content: space-around;
}

.column {
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.task-list {
  min-height: 200px;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
}

.task {
  padding: 10px;
  margin-bottom: 8px;
  background-color: rgb(28, 178, 43);
  border-radius: 4px;
  cursor: grab;
}
